<section class="banner container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img src="assets/imagenes/LogoBanco.png" />
      </div>
      <div class="col-sm align-self-end">
        <!-- <fa-icon [icon]="faAngleRight" style="font-size: 100px"></fa-icon> -->
      </div>
      <div class="col-sm">
        <div class="hr-droid">
          <div class="hr-line lineUp"></div>
        </div>
        <h2>¡Felicitaciones!</h2>
        <div class="hr-droid">
          <div class="hr-line lineUp"></div>
          <div><fa-icon class="fa" [icon]="faFace"></fa-icon></div>
          <div class="hr-line lineUp"></div>
        </div>
        <p class="m-4">
          <strong>Carolina</strong>, la firma digital de tu producto ha sido
          exitosa
        </p>
      </div>
      <div class="col-sm align-self-end">
        <!-- <img src="assets/imagenes/dibujo-movilTwo.png"> -->
      </div>
    </div>
  </div>
</section>
<div class="container grid termsProducts">
  <div class="row">
    <div class="col-sm">
      <h5>
        Estas son las condiciones del producto digital que acabas de
        firmar<fa-icon [icon]="faAngleRight"></fa-icon>
      </h5>
      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="card">
            <div class="card-body card-1 text-center">
              <div class="card__icon">
                <fa-icon [icon]="faMoney"></fa-icon>
              </div>
              <h6 class="card-subtitle mb-2 text-muted">Tipo</h6>
              <div class="hr-droid-body">
                <div class="hr-line-down lineDown"></div>
              </div>
              <h5 class="card__title">Credito de Libre inversíon</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="card">
            <div class="card-body card-1 text-center">
              <div class="card__icon">
                <fa-icon [icon]="faDollar"></fa-icon>
              </div>
              <h6 class="card-subtitle mb-2 text-muted">Monto</h6>
              <div class="hr-droid-body">
                <div class="hr-line-down lineDown"></div>
              </div>
              <h5 class="card__title">$ 40,000,000</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="card">
            <div class="card-body card-1 text-center">
              <div class="card__icon">
                <fa-icon [icon]="faClock"></fa-icon>
              </div>
              <h6 class="card-subtitle mb-2 text-muted">Plazo en Meses</h6>
              <div class="hr-droid-body">
                <div class="hr-line-down lineDown"></div>
              </div>
              <h5 class="card__title">60</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row info">
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
          <h6>Tasa nmv</h6>
          <div class="hr-droid-body">
            <div class="hr-line-down lineDown"></div>
          </div>
          <h5>1,79%</h5>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
          <h6>Tipo</h6>
          <div class="hr-droid-body">
            <div class="hr-line-down lineDown"></div>
          </div>
          <h5>Fija</h5>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <h6>Valor Seguro de vida</h6>
          <div class="hr-droid-body">
            <div class="hr-line-down lineDown"></div>
          </div>
          <h5>$59,525</h5>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <h6>ID radicación</h6>
          <div class="hr-droid-body">
            <div class="hr-line-down lineDown"></div>
          </div>
          <h5>1459525</h5>
        </div>
      </div>

      <div class="row moneyAcc">
        <div class="col-lg-12">
          <h5>
            La cuenta a la que te enviaremos el dinero es*
            <fa-icon [icon]="faAngleRight"></fa-icon>
          </h5>
        </div>
        <div class="number">
          <fa-icon [icon]="faMoneyCheck"></fa-icon>
          <aside style="margin-top: 10px">Bancolombia Cuenta de Ahorros</aside>
          <h5 style="text-align: center">N° 111111111111111</h5>
        </div>
        <p>
          *Recuerda que debe ser el titular de la cuenta, de lo contrario tu
          desembolso presentará rechazo.
        </p>
      </div>
    </div>
    <div class="col-sm" style="color: #909090">
      <div class="row">
        <div class="col-lg-12">
          <h5>¿Que viene ahora? <fa-icon [icon]="faAngleRight"></fa-icon></h5>
        </div>
        <div class="col-lg-12 compInformative">
          <fa-icon [icon]="faCloclLeft"></fa-icon>
          <h5 style="margin-top: 20px">En 24 horas:</h5>
        </div>
        <div class="col-lg-12 compInformative">
          <fa-icon [icon]="faCircleCheck"></fa-icon>
          <aside style="margin-top: 20px">
            Verificremos la informacion que nos suministro.
          </aside>
        </div>
        <div class="col-lg-12 compInformative">
          <fa-icon [icon]="faDollar"></fa-icon>
          <aside style="margin-top: 20px">
            Una vez aprobado, realizaremos el desembolso de tu dinero.
          </aside>
        </div>
        <div class="col-lg-12 compInformative">
          <fa-icon [icon]="faEnvelope"></fa-icon>
          <aside style="margin-top: 10px">
            Recibiras a tu correo electronico la confirmacion del proceso y una
            copia de los documentos que acabas de firmar.
          </aside>
        </div>
        <div class="col-lg-12" style="margin-top: 20px">
          <p>Si tienes dudas sobre el proceso que acabas de realizar</p>
        </div>
        <div class="col-lg-12 contact">
          <i class="fab fa-whatsapp"></i>
          <aside style="margin-top: 0px">
            Escribenos danco <br />
            click <strong>aqui</strong>
          </aside>
        </div>
        <div class="col-lg-12 contact">
          <button class="btn btn-primary" [routerLink]="['/second']">
            FINALIZAR <fa-icon [icon]="faCircleCheck"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
