.banner {
  color: white;
  background-image: -webkit-repeating-linear-gradient(
    top left,
    #2391f1 4%,
    #2ac0f2 30%,
    #2fd9f1 62%,
    #33e5f1 85%,
    #35faf1
  );

  background-image: repeating-linear-gradient(
    to bottom right,
    #2391f1 0%,
    #2ac0f2 30%,
    #2fd9f1 62%,
    #33e5f1 85%,
    #35faf1
  );
  background-image: -ms-repeating-linear-gradient(
    top left,
    #2391f1 4%,
    #2ac0f2 30%,
    #2fd9f1 62%,
    #33e5f1 85%,
    #35faf1
  );

  background-repeat: no-repeat;
}
.banner img {
  text-align: right;
  align-items: right;
  width: 170px;
}
.banner h2 {
  font-size: 3rem;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  text-align: center;
  align-items: center;
}
.banner p {
  font-family: Roboto Light, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  align-items: center;
}

.banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 40vh;
  overflow: hidden;
}

.hr-droid {
  display: flex;
}
.hr-line {
  width: 100%;
  position: relative;
  margin: 15px;
  border-bottom: 3px solid #fff;
}
.lineStyle {
  border-color: #fff;
}
.fa {
  position: relative;
  color: #fff;
  font-size: 48px;
}

.termsProducts {
  padding: 15px;
}
.termsProducts h5 {
  color: #909090;
}
.termsProducts .fa {
  position: relative;
  color: #909090;
  font-size: 18px;
}
/*  */

/* CARDS */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 10px;
  padding: 10px;
  height: 180px;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__subtitle {
  position: relative;
  color: #909090;
}

.card__icon {
  grid-row: 2/3;
  font-size: 28px;
  color: white;
  background-color: #0292b6;
  background-image: -webkit-repeating-linear-gradient(
    top left,
    #2391f1 4%,
    #2ac0f2 30%,
    #2fd9f1 62%,
    #33e5f1 85%,
    #35faf1
  );
  background-image: repeating-linear-gradient(
    to bottom right,
    #2391f1 4%,
    #2ac0f2 30%,
    #2fd9f1 62%,
    #33e5f1 85%,
    #35faf1
  );
  background-image: -ms-repeating-linear-gradient(
    top left,
    #2391f1 4%,
    #2ac0f2 30%,
    #2fd9f1 62%,
    #33e5f1 85%,
    #35faf1
  );

  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3px auto;
  padding: 3%;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #919191;
  font-weight: bold;
  font-size: 1.07rem;
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
  .btn {
    width: 100%;
  }
}
.hr-droid-body {
  display: flex;
}

.hr-line-down {
  width: 100%;
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
  border-bottom: 2px solid #8ecdcb;
}

.info {
  padding: 15px;
  text-align: center;
}
.info h6 {
  position: relative;
  text-decoration: none;
  color: #909090;
}
.info h5 {
  grid-row: 3/4;
  font-weight: 400;
  color: #919191;
  font-weight: bold;
  font-size: 1.07rem;
}
.moneyAcc {
  color: #909090;
}
.moneyAcc p {
  margin: 0.5em 0;
}
.moneyAcc .fab {
  position: relative;
  color: #909090;
  font-size: 18px;
}
.moneyAcc p {
  font-size: 0.9rem;
  font-weight: bold;
}

/*  */

.number fa-icon {
  float: left;
  margin-right: 15px;
  font-size: 40px;
  color: #29dfd2;
}

div.number h5 {
  grid-row: 3/4;
  font-weight: 400;
  color: #919191;
  font-weight: bold;
  font-size: 1.07rem;
}

.compInformative fa-icon {
  float: left;
  margin-right: 15px;
  font-size: 40px;
  color: #7c65d7;
  padding-right: 15px;
}

div.compInformative h5 {
  grid-row: 3/4;
  font-weight: 400;
  color: #919191;
  font-weight: bold;
  font-size: 1.07rem;
}

.contact i {
  float: left;
  margin-right: 15px;
  font-size: 40px;
  background-color: transparent;
  color: #fff;
  padding-right: 15px;
  grid-row: 2/3;
  font-size: 28px;
  background-color: #5db74e;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3%;
}

/*  */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 380px;
  margin: 0 auto;
  padding-top: 2em;
}
@media screen and (min-width: 768px) {
  .grid {
    max-width: 1200px;
  }
}

.btn {
  width: 50%;
  background-color: #e72b2b;
  position: relative;
  height: 45px;
  border-radius: 100px;
  border-color: #e72b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 30px;
}

.contact fa-icon {
  position: absolute;
  right: 18px;
  top: 5px;
  font-size: 20px;
}
