<section class="banner container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img src="assets/imagenes/LogoBanco.png" />
      </div>
      <div class="col-sm align-self-end"></div>
      <div class="col-sm">
        <div class="hr-droid">
          <div class="hr-line lineUp"></div>
        </div>
        <h2>¡Felicitaciones!</h2>
        <div class="hr-droid">
          <div class="hr-line lineUp"></div>
          <div><fa-icon class="fa" [icon]="faFace"></fa-icon></div>
          <div class="hr-line lineUp"></div>
        </div>
        <p class="m-4">
          <strong>Carolina</strong>, la firma digital de tu producto ha sido
          exitosa
        </p>
      </div>
      <div class="col-sm align-self-end">
        <!-- <img class="d-sm-none" src="assets/imagenes/dibujo-movil.png"> -->
      </div>
    </div>
  </div>
</section>
<div class="container grid termsProducts">
  <div class="row">
    <div class="col-sm">
      <h5>
        Estas son las condiciones del producto digital que acabas de
        firmar<fa-icon [icon]="faAngleRight"></fa-icon>
      </h5>
      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="card">
            <div class="card-body card-1 text-center">
              <div class="card__icon">
                <fa-icon [icon]="faMoney"></fa-icon>
              </div>
              <h6 class="card-subtitle mb-2 text-muted">Tipo</h6>
              <div class="hr-droid-body">
                <div class="hr-line-down lineDown"></div>
              </div>
              <h5 class="card__title">Tarjeta de crédito</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="card">
            <div class="card-body card-1 text-center">
              <div class="card__icon">
                <fa-icon [icon]="faCredict"></fa-icon>
              </div>
              <h6 class="card-subtitle mb-2 text-muted">Tarjeta</h6>
              <div class="hr-droid-body">
                <div class="hr-line-down lineDown"></div>
              </div>
              <h5 class="card__title">Visa Oro</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="card">
            <div class="card-body card-1 text-center">
              <div class="card__icon">
                <fa-icon [icon]="faDollar"></fa-icon>
              </div>
              <h6 class="card-subtitle mb-2 text-muted">Cupo</h6>
              <div class="hr-droid-body">
                <div class="hr-line-down lineDown"></div>
              </div>
              <h5 class="card__title">$ 2,000,000</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row info">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="number">
            <fa-icon [icon]="faCalendar"></fa-icon>
            <aside style="margin-top: 10px">Fecha de corte</aside>
            <div class="hr-droid-body">
              <div class="hr-line-down lineDown"></div>
            </div>
            <h5>17</h5>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="number">
            <fa-icon [icon]="faCard"></fa-icon>
            <aside style="margin-top: 10px">ID radicación</aside>
            <div class="hr-droid-body">
              <div class="hr-line-down lineDown"></div>
            </div>
            <h5>1459525</h5>
          </div>
        </div>
      </div>
      <div class="row moneyAcc">
        <div class="col-lg-12">
          <h5>Compra de cartera <fa-icon [icon]="faAngleRight"></fa-icon></h5>
        </div>
      </div>
      <div class="row info">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <h6>Banco</h6>
          <div class="hr-droid-body">
            <div class="hr-line-down lineDown"></div>
          </div>
          <h5>Banco de Bogotá</h5>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <h6>Franquicia</h6>
          <div class="hr-droid-body">
            <div class="hr-line-down lineDown"></div>
          </div>
          <h5>Visa</h5>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <h6>Valor a comprar</h6>
          <div class="hr-droid-body">
            <div class="hr-line-down lineDown"></div>
          </div>
          <h5>$25,000,000</h5>
        </div>
      </div>

      <div class="row moneyAcc">
        <div class="col-lg-12">
          <aside>
            <fa-icon [icon]="faHashtag"></fa-icon> Numero de tarjeta :
            <strong>4456782341567131</strong>
          </aside>
        </div>
      </div>
    </div>
    <div class="col-sm" style="color: #909090">
      <div class="row">
        <div class="col-lg-12">
          <h5>¿Que viene ahora? <fa-icon [icon]="faAngleRight"></fa-icon></h5>
        </div>
        <div class="col-lg-12 compInformative">
          <fa-icon [icon]="faCloclLeft"></fa-icon>
          <h5 style="margin-top: 20px">En 24 horas:</h5>
        </div>
        <div class="col-lg-12 compInformative">
          <fa-icon [icon]="faCircleCheck"></fa-icon>
          <aside style="margin-top: 20px">
            Verificremos la informacion que nos suministro.
          </aside>
        </div>
        <div class="col-lg-12 compInformative">
          <fa-icon [icon]="faDollar"></fa-icon>
          <aside style="margin-top: 20px">
            Una vez aprobado, realizaremos el desembolso de tu dinero.
          </aside>
        </div>
        <div class="col-lg-12 compInformative">
          <fa-icon [icon]="faEnvelope"></fa-icon>
          <aside style="margin-top: 10px">
            Recibiras a tu correo electronico la confirmacion del proceso y una
            copia de los documentos que acabas de firmar.
          </aside>
        </div>
        <div class="col-lg-12" style="margin-top: 20px">
          <p>Si tienes dudas sobre el proceso que acabas de realizar</p>
        </div>
        <div class="col-lg-12 contact">
          <i class="fab fa-whatsapp"></i>
          <aside style="margin-top: 0px">
            Escribenos danco <br />
            click <strong>aqui</strong>
          </aside>
        </div>
        <div class="col-lg-12 contact">
          <button class="btn btn-primary" [routerLink]="['/home']">
            FINALIZAR <fa-icon [icon]="faCircleCheck"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
